<footer class="#26a69a teal lighten-1 center">
    <div class="container">
        <div class="row">
            <div class="col l12">
                <h5 class="white-text">Developers - Contact Us</h5>
                <a class="hoverable" href="https://github.com/Asinghal81" target="_blank"> Amitn Singhal</a> |
                <a class="hoverable" href="https://github.com/dugan-jo" target="_blank"> Joseph Dugan</a> |
                <a class="hoverable" href="https://github.com/mfandel118" target="_blank"> Marissa Fandel</a> |
                <a class="hoverable" href="https://github.com/Thekid303" target="_blank"> Nick Graves</a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2022 Copyright &nbsp;&nbsp; Project Hub
        </div>
    </div>
</footer>