<header class="header">
    <div class="row">
        <div class="col-12 text-white bg-dark header_text text-center">
            <h1 id="logo">
                <img src="/images/gear.jpg" height="150" width="150">
                Project Hub
            </h1>
        </div>
    </div>
</header>