<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
       
               {{#unless loggedInUser}} 
                  {{!-- <nav class="navbar" --}}
                    <div class="btn-group" role="group" aria-label="Basic example">
                        {{!-- <button type="button" class="btn btn-primary m-2"><a href="/" class="text-white text-decoration-none">HOME</button></a> --}}
                        <button type="button" class="btn btn-primary m-2"><a href="/dashboard" class="text-white text-decoration-none">DASHBOARD</button></a> 
                        <button id="logout-link" type="button" class="btn btn-danger m-2"><a href="/logout" class="text-white text-decoration-none">LOGOUT</button></a>
                        {{#else}}
                            <button type="button" class="btn btn-primary m-2"><a href="/" class="text-white text-decoration-none">HOME</button></a>
                            <button type="button" class="btn btn-primary m-2"><a href="/dashboard" class="text-white text-decoration-none">DASHBOARD</button></a>
                            <button type="button" class="btn btn-success m-2"><a href="/login" class="text-white text-decoration-none">LOGIN</button></a>
                            <button type="button" class="btn btn-success m-2"><a href="/signup" class="text-white text-decoration-none">SIGNUP</button></a>
                        {{/else}}
                    </div>
                </nav>
                {{/unless}}
            </ul>
        </div>
    </div>
</nav>





