<section class="card">
  <a href="/employee">
    <header>{{name}}</header>
  </a>
</section>

{{!-- <div class="user-card">
  <div class="user-card-header">
    {{#each user.name}}
  </div>
  <div class="card-body">
    <p>
      email:
      {{user.email}}
    </p>
  </div>
  {{/each}}
</div> --}}