<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project Hub</title>
  <link rel="stylesheet"
    href="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==">
  <link rel="stylesheet" href="/css/style.css">
  {{> header}}
</head>

<body class="flex-column min-100-vh">


  <header class="hero">
    <h1 class="app-title"><a href="/">PROJECT HUB</a></h1>
  </header>
  {{>navbar}}
  <main class="col-auto hero-img">
    {{{body}}}
  </main>

  <footer class="flex-row">
    {{> footer}}
  </footer>
</body>
<script src="/js/logout.js"></script>

</html>