<div class="container">
  <div class="tasks mb-5 pb-5 row d-flex justify-content-center">
    {{#each tasks}}
    <article class="card col-9 col-md-5 p-3 m-3">
      <div class="card-header task-header d-flex justify-content-center text-white">
        <h2>{{project.name}}</h2>
      </div>
      <div class="card-body">
        <h4 class="my-4">{{description}}</h4>
        <p class="my-4">Hours dedicated: {{hours}}</p>
      </div>
    </article>
    {{/each}}
  </div>
</div>