{{#each employee as |user|}}
{{> user-details}}
{{/each}}


{{!-- <div class="user-card">
  <div class="user-card-header">
    {{#each user}}
  </div>
  <div class="card-body">
    <p>
      email:
      {{user_email}}
    </p>
  </div>
  {{/each}}
</div> --}}