<div class="container">
  <div class="row m-4">
    <div class="card-header center rounded bg-light text-dark">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      <br>
      <div id="logInError" class="error bg-danger text-white"></div>
  <form id="login-form" class="card-body">
    <div>
      <label for="username-input-login" class="col-sm-2 col-form-label">Username</label>
      <input type="text" id="username-input-login" />
    </div>
    <div>
      <label for="password-input-login" class="col-sm-2 col-form-label">Password</label>
      <input type="password" id="password-input-login" />
    </div>
    <button class=" btn btn-primary" type="submit" id="login-btn">LOG IN</button>
    <p class="mb-3 my-2 fw-normal">Don't have an account?
      <a href="/signup">Sign Up here</a>
    </p>

  </form>
</div>

<script src="/js/login.js"></script>