
<a id="loginBtn" class="nav-link" href="/api/user"><button class="w-100 btn btn-lg btn-primary" id="employeesBtn">GET EMPLOYEES</button></a>
<a id="loginBtn" class="nav-link" href="/api/projects"><button class="w-100 btn btn-lg btn-primary" id="projectsBtn">GET PROJECTS</button></a>
<a id="loginBtn" class="nav-link" href="/api/tasks"><button class="w-100 btn btn-lg btn-primary" id="tasksBtn">GET TASKS</button></a>