<button class="w-100 btn btn-lg btn-primary" id="employeeBtn">GET EMPLOYEES</button>
<button class="w-100 btn btn-lg btn-primary" id="projectsBtn">GET PROJECTS</button>
<button class="w-100 btn btn-lg btn-primary" id="commentsBtn">GET COMMENTS</button>