<div class="container mt-4">
  <h1>Create New Project</h1>

  <div class="card-header">

  </div>
  <form id="new-post-form" class="bg-danger text-white">
    <label class="form-label" for="post-title">Project Title</label>
    <input type="text" name="post-title" class="form-input" />

    <label class="form-label" for="editor">Project Description </label>
    <textarea id="editor" name="post-body" class="form-control"></textarea>


    <label class="form-label" for="post-boss">Employer</label>
    <input type="text" name="post-boss" class="form-input" />

    <label class="form-label" for="post-rate">Rate Of Pay</label>
    <input type="text" name="post-rate" class="form-input" />

    <label class="form-label" for="post-date">Due Date</label>
    <input type="text" name="post-date" value="{{post.date}}" class="form-input" />


    {{!-- <label class="form-label" for="post-employer">Employer</label>
    <input type="text" name="post-employer" class="form-input" />

    <label class="form-label" for="post-rate">Rate Of Pay</label>
    <input type="text" name="post-rate" class="form-input" /> --}}

    <button type="submit" class="btn">Create Project</button>
  </form>
</div>

<script src="/js/new.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
  var quill = new Quill('#editor', { theme: 'snow' });

<div class="mb-3">
      <label for="projectName" class="form-label">Project Name</label>
      <input type="text" class="form-control" id="projectName" />
    </div>

    <div class="mb-3">
      <label for="editor" class="form-label">Project Description</label>
      <div id="editor" class="projectDesc"></div>
    </div>
    <button type="submit" id="createProjectBtn" class="btn btn-primary">Create
      Project</button>
  </form>
 