<section class="project">
  <div class="project-details">
    <h3>{{project.name}}</h3>
    {{!-- project budget of hours --}}
    {{!-- employee name --}}
   {{!-- employee time  --}}
   {{!-- time spent on project --}}
   {{!-- how many hours are left --}}
    <p>Job Title: {{profile.title}}</p>
  </div>
</section>