<div class="container">
  <div class="row m-4">
    <div class="card-header center rounded bg-light text-dark">
      <h1 class="h3 mb-3 fw-normal">Please sign up!</h1>
      <div id="signUpError" class="error bg-danger text-white"></div>
      <div id="signup" role="tabpanel">
        <form id="signup-form" class="card-body">
          <div class="row">
            <div>
              <label class="col-sm-2 col-form-label" for="username-input-signup">Username</label>
              <input type="text" id="username-input-signup" />
            </div>
            <div>
              <label class="col-sm-2 col-form-label" for="password-input-signup">Password</label>
              <input type="password" id="password-input-signup" />
            </div>
            <button class="btn btn-primary" type="submit" id="signup-btn">SIGN UP</button>
            <p class="my-2 fw-normal">Already have an account?
              <a href="/login">Login in here</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/signup.js"></script>