{{#if loggedInUser}}

<div class="container">
  <div class="flex-column d-flex align-items-center">
    <h1 class="display-3 my-3">{{project.name}}</h1>
    <h4>{{project.description}}</h4>
    <h4>{{task.description}}</h4>
  </div>
</div>

{{/if}}