{{#if loggedInUser}}
<div class="container">
  <div class="flex-column d-flex align-items-center">
    <h1 class="display-3">{{project.name}}</h1>
    <h3>{{project.description}}</h3>
  </div>
</div>
{{/if}}