#editor {
  height: 375px;
}
.error {
  font-size: 1.2rem;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #212529;
  color: white;
  text-align: center;
  height: 6rem;
}
footer a:visited {
  color: white;
}

footer a:link {
  color: white;
}

footer a:hover {
  color: gold;
}

header {
  color: #ffffff;
  background: #212529;
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
    #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px,
    #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
}
#imgBkg {
  background-image: url("../images/home.png");
  background-color: #cccccc;
}
