footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #212529;
  color: white;
  text-align: center;
  height: 6rem;
}

footer a:visited {
  color: white;
}

footer a:link {
  color: white;
}

footer a:hover {
  color: gold;
}

.user-card-header {
  font-size: 1.5rem;
  color: var(--tertiary);
  margin: 0;
  background-color: var(--light);
  padding: 0.625rem;
  border-bottom-style: solid;
}

.card-body {
  padding: 2.5%;
  font-size: 1.4rem;
  text-align: center;
}

.user-card {
  margin: 20px;
  flex: 0 1 100px;
  padding: 5px;
  width: 35%;
  min-height: 20%;
  min-width: 35%;
  border: 3px solid var(--primary);
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: medium;
  background-color: var(--light);
  color: var(--dark);
}

.proj-header {
  text-decoration: none;
  color: black;
}
